<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bituniverse.websocket.dao.CapDistributionMapper">
  <resultMap id="BaseResultMap" type="com.bituniverse.websocket.entity.CapDistribution">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coin" jdbcType="VARCHAR" property="coin" />
    <result column="exchangeId" jdbcType="INTEGER" property="exchangeid" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coin, exchangeId, param, type, amount
  </sql>
  <insert id="insert" parameterType="com.bituniverse.websocket.entity.CapDistribution">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cap_distribution (coin, exchangeId, param, 
      type, amount)
    values (#{coin,jdbcType=VARCHAR}, #{exchangeid,jdbcType=INTEGER}, #{param,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{amount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bituniverse.websocket.entity.CapDistribution">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cap_distribution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coin != null">
        coin,
      </if>
      <if test="exchangeid != null">
        exchangeId,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coin != null">
        #{coin,jdbcType=VARCHAR},
      </if>
      <if test="exchangeid != null">
        #{exchangeid,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bituniverse.websocket.entity.CapDistribution">
    update cap_distribution
    set coin = #{coin,jdbcType=VARCHAR},
      exchangeId = #{exchangeid,jdbcType=INTEGER},
      param = #{param,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bituniverse.websocket.entity.CapDistribution">
    update cap_distribution
    <set>
      <if test="coin != null">
        coin = #{coin,jdbcType=VARCHAR},
      </if>
      <if test="exchangeid != null">
        exchangeId = #{exchangeid,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cap_distribution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cap_distribution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cap_distribution
    where 1=1 
    <if test="coin != null">
       and  coin = #{coin,jdbcType=VARCHAR}
    </if>
    <if test="exchangeid != null">
       and  exchangeId = #{exchangeid,jdbcType=INTEGER}
    </if>
    <if test="param != null">
       and  param = #{param,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=VARCHAR}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cap_distribution
    where 1=1 
    <if test="coin != null">
       and  coin = #{coin,jdbcType=VARCHAR}
    </if>
    <if test="exchangeid != null">
       and  exchangeId = #{exchangeid,jdbcType=INTEGER}
    </if>
    <if test="param != null">
       and  param = #{param,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=VARCHAR}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from cap_distribution 
    where 1=1 
    <if test="coin != null">
       and  coin = #{coin,jdbcType=VARCHAR}
    </if>
    <if test="exchangeid != null">
       and  exchangeId = #{exchangeid,jdbcType=INTEGER}
    </if>
    <if test="param != null">
       and  param = #{param,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=INTEGER}
    </if>
    <if test="amount != null">
       and  amount = #{amount,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>